#admin-menu {
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    justify-content: center;
    margin: 0 auto 40px auto;
}

.button-link {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #008E97;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
}

/* Mobile */
@media (max-width: 768px) {
    .button-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: calc(100% - 20px);
        gap: 10px;
    }

    .button-link {
        width: 100%;
    }
}

    .button-link:hover {
        opacity: 0.9;
        background: #00C2D1;
    }

    .button-link.disabled {
        background-color: #00C2D1;
        color: #ddd;
        pointer-events: none; /* prevents clicking */
        cursor: not-allowed;
        opacity: 0.6;
    }
}