.option-group {
    display: flex;
    gap: 10px;
}

.option-group input[type="radio"] {
    display: none;
}

.option-group label {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
    transition: 0.2s;
}

.option-group input[type="radio"]:checked + label {
    background: red;
    color: white;
    border-color: red;
}

.pick-group input[type="radio"]:checked + label {
    background: #F2D3CE;
    color: white;
    border-color: #F2D3CE;
}
.pick-group label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
}
.pick-group-options {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

/* view picks */
#view-picks-grid-table {
    display: flex;
    flex-direction: column;
    row-gap: 10px; /* spacer between rows only */
    margin-bottom: 20px;
    color: #008E97;
}

#view-picks-grid-table .row {
    display: grid;
    grid-template-columns: 28% repeat(6, 12%);
}

#view-picks-grid-table .cell {
    min-width: 0;              /* allows shrinking */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;

    /* wrap long text */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

#view-picks-grid-table .cell:first-child {
    text-align: left;
}

#view-picks-grid-table .cell:not(:first-child) {
    text-align: center;
}

#view-picks-grid-table .header {
    font-weight: bold;
    background: #f0f0f0;
}

#view-picks-page-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#view-picks-page-header h2 {
    font-size: 2.2em !important;
    margin: -5px 0 10px 0;
}