#stats-page-header h2 {
    font-size: 2.2em !important;
    margin: 0;
    flex: 1;
    text-align: center;
}

#stats-page-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#stats-page-header h2 {
    margin: 0;
    font-size: 2.2em !important;
}

.player-selector {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.player-selector label {
    font-size: 0.9rem;
    color: #008E97;
}

.player-selector select {
    color:#008E97; 
    padding: 5px 10px;
    border: 1px solid #008E97;
    border-radius: 10px;
    box-sizing: border-box;
}

.stats-page {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stats-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats-container {
    border: 1px solid #008E97;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}

.stat-sub-header {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 5px;
    color: #008E97;
}

.stat-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stat-row {
    padding: 5px;
    color: #FC4C02;
}

.stat-row-text {
    display: flex;
    width: 100%;
    padding:5px;
}

.stat-col-4 {
    width: 25%;
    text-align: left;
    box-sizing: border-box;
}

.stat-col-3 {
    width: 33.333%;
    text-align: left;
    box-sizing: border-box;
}

.stat-col-2 {
    width: 50%;
    text-align: left;
    box-sizing: border-box;
}

.stat-row-text:nth-child(odd) {
    color: #FC4C02;
    /* background-color: #F5F5F5; */
}

.stat-row-text:nth-child(even) {
    color: #008E97;
    /* background-color: #F5F5F5; */
}

/* Mobile */
@media (max-width: 768px) {
    .stats-page {
        flex-direction: column;
    }
    .player-selector {
        position: static;
    }
}

@media (max-width: 600px) {
    #stats-page-header {
        flex-direction: column;
        gap: 10px;
    }

    #player-select {
        position: static;
    }
}